@charset "utf-8";

html, body{ height:100%; /*background: #0d111a*/}
body{font-size:14px; font-family: '黑体'}
.monthengery{
    width: 100%;
}
.con{
    position: relative;
}
#tab-system{
    /*width: 75vw;*/
    /*width: 100%;*/
    overflow: auto;
    /*position: absolute;*/
    /*right: 2vw;*/
    background: #1A1E29;
    padding: 40px 20px 20px 20px;
}
.con-left{
    position: absolute;
    left: 2vw;
    width: 20vw;
    background: #fff;

}
.row{
    position: absolute;
    margin-left: 20px;
}
.form-label{
    line-height: 30px;
    font-size: 12px;
}
.chart{
    padding-top: 30px;
    font-size: 14px;
}
/*图标开始*/
.chart-left{
    width: 75%;
    overflow: auto;
    padding: 20px;
    background: #1a1e29;
    min-height: 400px;
}
.chart-right{
    color: #d6dfeb;
    width: 20%;
    background: #1a1e29;
    padding: 20px;
    min-height: 400px;
    line-height: 52px;
}
.chart-right ul li{
    list-style: square;
    color: #E85655;

}
.red-square{
    background: #E85655;
    margin-right: 10px;
    padding: 7px 10px;
    border-radius: 4px;
    font-size: 0;
    margin-top: -5px;
    vertical-align: middle;
}
.purple-square{
    background: #A457E1;
    margin-right: 10px;
    padding: 7px 10px;
    border-radius: 4px;
    font-size: 0;
    margin-top: -5px;
    vertical-align: middle;
}
.blue-square{
    background: #616DDB;
    margin-right: 10px;
    padding: 7px 10px;
    border-radius: 4px;
    font-size: 0;
    margin-top: -5px;
    vertical-align: middle;
}
.c-blue1{
    color: #2388ed;
}
.top-bar{

}
.top-bar span{
    border: 1px solid #dedede;
    padding: 5px 8px;
    margin-right: 15px;
    cursor: pointer;
    line-height: 30px;
}
.tab-con li{
    display: none;
    width: 100%;
}
.tab-con li div{
    width: 100%;
}
.tab-con li.show{
    display: block;
}
.style1{
    background: #00af2c;
    color: #fff;
}

